

div:nth-child(even){
    display: none;
}

div{
background-color: red;
width: 100px;
height: 40px;
display: inline-block;
align-content: center;
text-align: center;
color: white;
font-size: large;
font-weight: bold;
border: 1px solid black;
}